USE [master]
GO
/****** Object:  Database [LIBRARY]    Script Date: 2025/7/10 21:59:20 ******/
CREATE DATABASE [LIBRARY] ON  PRIMARY 
( NAME = N'LIBRARY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\LIBRARY.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LIBRARY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\LIBRARY_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBRARY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRARY]
GO
/****** Object:  Table [dbo].[管理员]    Script Date: 2025/7/10 21:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[管理员](
	[ANO] [int] NOT NULL,
	[ACO] [nvarchar](50) NULL,
	[PWD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[借阅]    Script Date: 2025/7/10 21:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[借阅](
	[借阅编号] [int] NOT NULL,
	[BNO] [int] NULL,
	[SNA] [nvarchar](50) NULL,
	[BT] [date] NULL,
	[RT] [date] NULL,
	[JUG] [bit] NULL,
	[MON] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[借阅编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[图书]    Script Date: 2025/7/10 21:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[图书](
	[BNO] [int] NOT NULL,
	[BNA] [nvarchar](100) NULL,
	[BDA] [date] NULL,
	[BPU] [nvarchar](100) NULL,
	[BPL] [nvarchar](100) NULL,
	[BNU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[学生]    Script Date: 2025/7/10 21:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[学生](
	[SNA] [nvarchar](50) NOT NULL,
	[SDE] [nvarchar](50) NULL,
	[SSP] [nvarchar](50) NULL,
	[SUP] [int] NULL,
	[SNO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[借阅信息视图]    Script Date: 2025/7/10 21:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 视图：借阅信息视图
CREATE VIEW [dbo].[借阅信息视图] AS
SELECT
    借阅.借阅编号,
    图书.BNO,
    图书.BNA,
    学生.SNA,
    学生.SDE,
    借阅.BT,
    借阅.RT
FROM
    借阅
INNER JOIN 图书 ON 借阅.BNO = 图书.BNO
INNER JOIN 学生 ON 借阅.SNA = 学生.SNA;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_图书名称]    Script Date: 2025/7/10 21:59:20 ******/
CREATE NONCLUSTERED INDEX [IDX_图书名称] ON [dbo].[图书]
(
	[BNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_借书证号]    Script Date: 2025/7/10 21:59:20 ******/
CREATE NONCLUSTERED INDEX [IDX_借书证号] ON [dbo].[学生]
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[借阅]  WITH CHECK ADD FOREIGN KEY([BNO])
REFERENCES [dbo].[图书] ([BNO])
GO
ALTER TABLE [dbo].[借阅]  WITH CHECK ADD FOREIGN KEY([SNA])
REFERENCES [dbo].[学生] ([SNA])
GO
USE [master]
GO
